[Unit]
Description=Steam
After=org.gnome.SettingsDaemon.XSettings.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/Steam
ExecStart=/usr/bin/steam -pipewire-dmabuf

[Install]
WantedBy=default.target
