[Unit]
Description=Sunshine
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=%h/.config/sunshine
ExecStart=/usr/bin/sunshine
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
