[Unit]
Description=Universal Media Server
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/opt/ums
ExecStart=/opt/ums/UMS.sh headless
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
