# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Rubin Simons
email = rubin@raaf.tech
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
