! My preferred font - specified exactly, just to make sure
#define FONT -*-helvetica-bold-r-*-*-25-*-*-*-*-*-iso8859-15

! Font rendering settings.
! Should match .config/fontconfig/fonts.conf
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.autohint: false
Xft.lcdfilter: lcdlight
Xft.dpi: 192

! Explicit font settings for XTerm
XTerm*faceName: PragmataPro Mono
XTerm*faceSize: 9

! Default font settings
*font: FONT
*allowBoldFonts: false

! Set Xcursor theme explicitly
! Note that theme "default" almost never works.
Xcursor.theme: Adwaita
Xcursor.size: 48

! Motif window manager settings
!Mwm*fontList: FONT
!Mwm*client*title*fontList: FONT
!Mwm*icon*fontList: FONT
!Mwm*defaultFontList: FONT
!Mwm*background:#E9E4DD
!Mwm*foreground:#000000
!Mwm*activeBackground:#4A708B
!Mwm*activeForeground:#FFFFFF
!Mwm*saveUnder:	true
!Mwm*feedback*background: #E9E4DD
!Mwm*feedback*foreground: #000000
!Mwm*icon*background: #E9E4DD
!Mwm*icon*foreground: #000000
!Mwm*menu*background: #E9E4DD
!Mwm*menu*foreground: #000000
!Mwm*frameBorderWidth:8
!Mwm*resizeBorderWidth:8
!Mwm*iconAutoPlace: True
!Mwm*iconDecoration: image label
!Mwm*iconImageMinimum: 50x50
!Mwm*iconImageMaximum: 50x50
!Mwm*maximumMaximumSize: 1584x868

! Include color theme
!#include ".colorthemes/active.res"
