! My preferred font - specified exactly, just to make sure
#define FIXFONT -*-terminus-medium-r-*-*-32-*-*-*-*-*-*-*
#define XFTFONT xft:Terminus:pixelSize=32:style=Regular

! Font rendering settings
! Xft.dpi: 96
! Xft.antialias: true
! Xft.autohint: false
! Xft.hinting: true
! Xft.hintstyle: hintfull
! Xft.lcdfilter: lcddefault
! Xft.rgba: rgb

! Motif window manager settings
!Mwm*fontList: FIXFONT
!Mwm*client*title*fontList: FIXFONT
!Mwm*icon*fontList: FIXFONT
!Mwm*defaultFontList: FIXFONT
!Mwm*background:#E9E4DD
!Mwm*foreground:#000000
!Mwm*activeBackground:#4A708B
!Mwm*activeForeground:#FFFFFF
!Mwm*saveUnder:	true
!Mwm*feedback*background: #E9E4DD
!Mwm*feedback*foreground: #000000
!Mwm*icon*background: #E9E4DD
!Mwm*icon*foreground: #000000
!Mwm*menu*background: #E9E4DD
!Mwm*menu*foreground: #000000
!Mwm*frameBorderWidth:8
!Mwm*resizeBorderWidth:8
!Mwm*iconAutoPlace: True
!Mwm*iconDecoration: image label
!Mwm*iconImageMinimum: 50x50
!Mwm*iconImageMaximum: 50x50
!Mwm*maximumMaximumSize: 1584x868

! Mouse cursor settings
Xcursor.theme: whiteglass
Xcursor.size: 32

! Default font settings
*font: FIXFONT
*allowBoldFonts: false


! Include color theme
#include ".colorthemes/active.res"
