snippet dep "Maven dependency block"
<dependency>
    <groupId>some.group</groupId>
    <artifactId>some-artifact</artifactId>
    <version>${some.version}</version>
    <scope>test</scope>
</dependency>

endsnippet
