[Desktop Entry]
Version=1.0
Name=Universal Media Server
GenericName=Media Server
Comment=Broadcast your multimedia files
Exec=/opt/ums/ums5/UMS.sh
Icon=/home/rubin/Pictures/Various Icons/UMS.png
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
